<%= form_for(@post) do |f| %>
  <%= author_id_field(@post) %> #calls on a helper method to present drop down menu of authors if author isn't determined by URL
  
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
